VUE_APP_API_BASE_URL=/api
VUE_APP_TODOS_ENDPOINT=/todos
VUE_APP_AUTH_SIGNIN_ENDPOINT=/auth/signin
VUE_APP_AUTH_VERIFY_ENDPOINT=/user
VUE_APP_AUTH_TOKEN_KEY=accessToken
VUE_APP_AUTH_USER_KEY=authUsername
VUE_APP_PROXY_TARGET=http://localhost:5050
